In [14]:
import pandas as pd
import os

client_path = './results/client_0.csv'
server_path = './results/server_0.csv'

client_df = pd.read_csv(client_path).drop(columns=['Unnamed: 0'])
server_df = pd.read_csv(server_path).drop(columns=['Unnamed: 0'])

In [15]:
client_df

     chunk_id            t2            t3  decoding_time  chunk_size
0           0  1.701432e+09  1.701432e+09       0.011352    12226076
1           0  1.701432e+09  1.701432e+09       0.011316    12142301
2           0  1.701432e+09  1.701432e+09       0.011269    11618514
3           0  1.701432e+09  1.701432e+09       0.014695    12137090
4           0  1.701432e+09  1.701432e+09       0.013121     7851299
..        ...           ...           ...            ...         ...
116         0  1.701433e+09  1.701433e+09       0.054599     8099906
117         0  1.701433e+09  1.701433e+09       0.018702     7003497
118         0  1.701433e+09  1.701433e+09       0.014644     6455704
119         0  1.701433e+09  1.701433e+09       0.022042     6609270
120         0  1.701433e+09  1.701433e+09       0.020341     6787274

[121 rows x 5 columns]